@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.header{
    margin: 0;
    height: 60px;
    padding-top: 20px;
    background-color: #000F52;
    color: white;
}

.heading {
    font-size: 20px;
    margin-left: 20px;
}

.runBtn{
    background-color: red;
    width: 90px;
    height: 40px;
    border: none;
    margin-left: 530px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.language {
    display: flex;
    padding-top: 5px;
    margin-right: 20px;
    float: right;
}

#tags{
    font-family: 'Fira Code', monospace;
}

.lang{
    margin-right: 5px;
}

.sides{
    display: flex;
}

.leftSide{
    width: 55%;
}

.rightSide{
    width: 45%;
    margin: 0;
}

.sideTitle{
    height: 10px;
    text-align: center;
}

#codeTextArea {
    font-family: 'Fira Code', monospace;
    width: 99%; 
    background: #cccccc52;
    height:84.4vh;
    font-size: 15px;
    resize: none; 
    outline: none;
    display:block;
}

#output {
    font-family: 'Fira Code', monospace;
    resize: none;
    width: 99%;
    height: 49vh;
    outline: none;
    background: #cccccc52;
    display:block;
}

#userInput {
    font-family: 'Fira Code', monospace;
    display:block;
    resize: none;
    width: 49.5%;
    height: 31.1vh;
    outline: none;
    background: #cccccc52;
}

#userOutput {
    font-family: 'Fira Code', monospace;
    display:block;
    resize: none;
    width: 49.5%;
    height: 31.1vh;
    outline: none;
    background: #cccccc52;
}

#inputArea{
    display: flex;
}

#titleSpan{
    display: flex;
}

.inp{
    background-color: #01298B;
    color: white;
    height: 25px;
    margin: 0;
    width: 50%;
}

.exOut{
    background-color: #01298B;
    color: white;
    height: 25px;
    margin: 0;
    width: 50%;
}

.ide{
    background-color: #01298B;
    color: white;
    height: 25px;
    margin: 0;
}

.out{
    background-color: #01298B;
    color: white;
    height: 25px;
    margin: 0;
}